android/client/.idea/
android/client/bin/
android/client/gen/
android/client/out/
android/samples/SocialNetLib/bin/
android/samples/SocialNetLib/gen/
android/libraries/SupportLibraryV4/bin/
android/libraries/SupportLibraryV4/gen/
android/client/proguard/
android/client/proguard_logs/
.DS_Store
R.java
.metadata/
*.pyc
*.iml

bin/
.classpath
.project
.settings
tests